.course-card {
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #DCF5FE;
    display: flex;
    flex-direction: column;
}

.course-card__template {
    min-height: 20rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}
.course-card__template:hover {
    background-color: #c9e7fc;
}
.course-card__template span {
    font-size: 20px;
    line-height: 24px;
}

.course-card__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.course-card--inProgress {
    background-color: #DCF5FE;
}
.course-card.disabled {
    opacity: 0.5;
}

.course-card__header {
    font-size: 1.5em;
    font-weight: bold;
}

.course-card__content {
    margin-top: 30px;
}

.course-card__type-education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.course-card__type-education > div {
    width: 50%;
}
.course-card__button {
    margin: 0;
    margin-top: 30px;
    border-radius: 20px;
    padding: 0.4rem 2.5rem;
    border: 1px solid black;
    cursor: pointer;
}
.course-card__button--inProgress {
    border: none;
    background-color: #1e89e3;
    color: white;
}
.course-card__footer {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.course-card__progress {
    margin-top: 30px;
}

.progress-bar-container {
    margin-top: 1rem;
    width: 70%;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    height: 20px;
}

.progress-bar {
    height: 100%;
    background-color: #1e89e3;
    transition: width 0.3s ease-in-out;
}
