.register-form{
    display: flex;
    flex-direction: column;
    width: 19.2rem;
    flex-direction: column;
    align-items: center;
}
p{
    display: flex;
    flex-direction: column;
    width: 19.2rem;
    flex-direction: column;
    align-items: center;
}
.register-form__inputs{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.register-form__inputs>input{
    border-radius: 2rem;
    border: 1px solid #C8C8C8;
    padding: 0.7rem;
}
.register-form__button-submit{
    margin: 1rem;
    width: 100%;
    background-color: #1E89E3;
    color: white;
    border: none;
    padding: 0.7rem;
    border-radius: 1rem;
}
.register-page{
    display: flex;
    position: fixed;
    height: 100vh;
    width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
}