.app-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: 1px solid #F4EEEE; 
}
.app-header__menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    width: 100%;
    max-width: 1920px;
}

.app-header__navigation{
    display: flex;
    align-items: flex-end;
    gap:1rem;
}
.app-header a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}