.app-header{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    border-bottom: 1px solid #F4EEEE;
    padding-left: 12.75rem;
    padding-right: 12.75rem;
}
.app-header__menu{
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    
}

.app-header__navigation{
    display: flex;
    align-items: flex-end;
    gap:1rem;
}
.app-header__navigation a:hover{
    color: #1E89E3;
}
.app-header a{
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.app-header a:hover{
    color: #1E89E3;
}
