
.footer-content {
    max-width: 900px;
    margin-top: 80px;
    height: auto;
    padding-top: 5rem;
}

.footer-content h2 {
    width: 100%;
    margin-top: 0;
    font-size: 64px;
    margin-bottom: 50px;
    text-align: left;
    font-weight: 500;
    
}

.footer-content p {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-weight: 400;
    margin-top: 0;
}

.register-button {
    display: inline-block;
    margin: 0px auto;
    padding: 10px 20px;
    font-size: 16px;
    background: #1E89E3;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    border: 1px solid #fff;
    margin-top: 3.75rem;
    margin-top: 0;
}

.footer-bottom {
    height: 108px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-bottom a {
    color: #fff;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
.app-footer{
    background-color: #1E89E3;
    color: #fff;
    padding-left: 12.75rem;
    padding-right: 12.75rem;

}
